<div class="page col-xs-10 col-xs-offset-1">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="thumbnail">
				<img src="images/durable.png">
				<div class="caption">
					<h3>Durable Digital</h3>
					<p>Web developer, Durable Digital Ltd.</p>
					<small>2013 - present</small>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="thumbnail">
				<img src="images/baesystems2.png">
				<div class="caption">
					<h3>BAESystems Detica</h3>
					<p>Consultant - Network Intelligence Group</p>
					<small>2010 - 2013</small>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="thumbnail">
				<img src="images/trl.png">
				<div class="caption">
					<h3>The Transport Research Labs</h3>
					<p>Graduate traffic accident data analyst</p>
					<small>2007 - 2010</small>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="thumbnail">
				<img src="images/bristol.gif">
				<div class="caption">
					<h3>University of Bristol</h3>
					<p>BSc Physics - 1st Class Hons</p>
					<small>2004 - 2007</small>
				</div>
			</div>
		</div>
	</div>
	<div class="social-feed col-xs-12 text-center">
		<a href="http://stackoverflow.com/users/1847230/wheretheresawill">
			<img src="http://stackoverflow.com/users/flair/1847230.png?theme=clean" width="208" height="58" alt="profile for WheretheresaWill at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for WheretheresaWill at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
		</a>
	</div>
	<div class="social-feed col-xs-8 col-xs-offset-2">
		<a class="twitter-timeline" href="https://twitter.com/willchis" data-widget-id="463801942599155712">Tweets by @willchis</a>
		<script>function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>
	 		