
	<!--<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	

		<h1 class="title">How wonderful that we have met with a paradox</h1>
		<h2 class="subtitle"></h2>

		
		<h3 class="tagline">
			Now we have some hope of making progress*
			<br>
		</h3>
		
		<p><a href="/download/" class="btn btn-default btn-lg">Click </a></p>
	</div>-->
	<div class="row home-1">
		<div class="col-xs-2 col-xs-offset-6 col-sm-3 col-sm-offset-5">
			&nbsp;
		</div>
	</div>
	<div class="row home-2">
		<a class="col-xs-1 col-xs-offset-5 col-sm-1 col-sm-offset-4">
		</a>
		<a class="col-xs-2 col-sm-4 text-center">
			<h5>EXPERIMENTS</h5>
		</a>
		<a class="col-sm-1 col-sm-offset-0 hidden-xs text-center v-center">
			<h4>CV</h4>
		</a>
	</div>
	<div class="row home-3">
		<div class="col-xs-2 col-xs-offset-4 hidden-sm hidden-md hidden-lg text-center">
			<h5>CV</h5>
		</div>
	</div>
	<div class="row home-4">
		
	</div>
